body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
nav {
    background-color: rgb(215, 15, 100)	;
    padding: 3px;
}
.name{
    color: white;
    font-size: 44px;
    font-weight: bold;j
    font-style: italic;
    text-align: center;
}
.main{
    max-width: 100%;
    background-image: url(./assets/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    
}


.button-40 {
  --glow-color: aqua;
  --glow-spread-color: cyan;
  --enhanced-glow-color: rgb(2, 130, 250);
  --btn-color: rgb(255, 0, 144);
  /* border: .25em solid black; */
  padding: 13px 14px;
  color: var(--glow-color);
  font-size: 25px;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }

.button-40::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
  color: black !important;;
}

.button-40:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.button-40:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}
